:root {
    --container: 1240px;
}
.sponsor-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sponsor-label {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #3D0C11;
    margin: 40px ;
    padding-bottom: 10px;
    border-bottom: 3px solid #E8572A;
}
/* Flip Card Gallery */
body {
  font-family: 'Oswald', sans-serif;
  background: #3D0C11;
  margin: 0;
  padding: 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  max-width: 280px;
  height: 270px;
  perspective: 1000px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner,
.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.flip-card-back {
  background-color: #3D0C11;
  color: #fdfbfb;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
/* table Section */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sponsor-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 18px;
    padding: 0 16px;
    justify-items: stretch;
    max-width: 420px;
    margin: 0 auto;
  }

  .flip-card {
    max-width: 100%;
    height: 300px;
    border-radius: 25px;
    padding: 20px;
    overflow-x: auto;
} 
}

/* yt css */
.video-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; /* makes it responsive */
  margin: 40px;
}

.video-box {
  flex: 1;
  min-width: 300px;
  max-width: 30%;
  background: #f6f5f5;
  border: 1px solid #3D0C11;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.video-box iframe {
  width: 100%;
  height: 200px;
  border: none;
  display: block;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .video-container {
    flex-direction: column;
    align-items: center;
  }
  .video-box {
    max-width: 100%;
  }
}

.yt-highlight {
    background: rgba(232, 87, 42, 0.12);
    padding: 16px;
    margin: 40px;
    border-radius: 8px;
    font-weight: 700;
    color: #E8572A;
    border-left: 4px solid #E8572A;
}